@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@plugin '@assets/styles/hero.ts';
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

/* pages */
@import "./login";
@import "./dashboard";

:root {
  font-family: "Noto Sans SC", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --animate-slide-in: slide-in 6s ease-out;
  @keyframes slide-in {
    0%,
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
    10%,
    90% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.alert {
  @apply absolute top-4 py-3 px-2 w-[90%] max-w-300 animate-slide-in opacity-0;
}
